/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: -96px;
    left: 10px;
}

.logo img {
    display: block;
    padding-top: 100px;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

/* Navbar Styling */
.navbar ul {
    list-style-type: none;
    background-color: rgb(50, 200, 50);
    margin: 0;
    padding-left: 100px;
    display: flex;
}

.navbar li {
    padding: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.navbar li a {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.navbar li:hover,
.navbar li.active {
    background-color: #388e3c;
}

/* Main Section */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h2 {
    padding: 10px 100px;
    text-align: center;
}

h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: rgb(50, 200, 50);
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

form input,
form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.account-form table tr td {
    padding-top: 10px;
    padding-bottom: 10px;
}

button {
    padding: 10px;
    background-color: rgb(50, 200, 50);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.add-account-button {
    width: 100%;
}

.header {
    border-bottom: 1px solid #ccc;
}

.transaction-label {
    border-bottom: 1px solid #ccc;
}

/* Account List */
.account-category-header {
    font-size: 18px;
    font-weight: bold;
    color: rgb(50, 200, 50);
    padding: 20px;
}

.account-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.account-list li {
    padding: 10px 20px;
    border-left: 10px solid rgb(100, 100, 100);
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: space-between;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(50, 200, 50);
    color: white;
    border: 1px solid rgb(50, 200, 50);
}

td {
    text-align: left;
}

.main-table {
    width: 60%;
    margin-top: 20px;
    background-color: #fff;
}

.table-label {
    width: 300px;
}

.form-table {
    border: 1px solid #ccc;
}

.account-form {
    padding: 20px;
}

.input-account {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
}