/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
}

/* Logo Styling */
.logo {
    position: absolute;
    top: -96px;
    left: 10px;
}

.logo img {
    display: block;
    padding-top: 100px;
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

/* Navbar Styling */
.navbar ul {
    list-style-type: none;
    background-color: rgb(50, 200, 50);
    margin: 0;
    padding-left: 100px;
    display: flex;
}

.navbar li {
    padding: 20px 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
}

.navbar li a {
    padding: 20px 20px;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.navbar li:hover {
    background-color: #388e3c;
    color: white;
}

.navbar li.active {
    background-color: #388e3c;
    color: white;
}

/* Main Content Area */
.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-top: 20px;
    width: 100%;
    margin: 0 auto;
}

.main-content table, th, td {
    border-style: solid;
}

/* Total (Overview Section) */
.total {
    flex: 1;
    width: 320px;
    height: auto;
    padding: 20px;
    text-align: justify;
    border: solid 1px;
    border-radius: 10px;
    font-size: large;
    background-color: #fff;
    border-color: rgb(200, 200, 200);
}

.total h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: rgb(50, 200, 50);
}

#total-income,
#total-expense,
#net-balance {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

/* Chart Section */
#chart-container {
    flex: 2;
    width: 600px;
    max-height: 400px;
    background-color: #fff;
    padding: 20px;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 10px;
}
