body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.navbar ul {
    list-style-type: none;
    background-color: rgb(50, 200, 50);
    margin: 0;
    padding-left: 100px;
    display: flex;
}

.navbar li {
    padding: 20px 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.navbar li a {
    padding: 20px 20px;
    cursor: pointer;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.navbar li:hover {
    background-color: #388e3c;
    color: rgb(255, 255, 255);
}

.navbar li.active {
    background-color: #388e3c;
    color: rgb(255, 255, 255);
}

h2 {
    padding: 10px 100px 10px 100px;
}

.transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.transaction-type, .transaction-history {
    background-color: rgb(200, 200, 200);
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    width: 80%;
    border-bottom: none;
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 200, 200);
}

form input,
form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: rgb(50, 200, 50);
    border: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.history {
    text-align: left;
    border: solid 1px;
    width: 80%;
    border-bottom: none;
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 200, 200);
}

.history ul {
    list-style-type: none;
    padding: 0;
    border: solid 1px;
    border-color: rgb(200, 200, 200);
    vertical-align: top;
}

.history li {
    padding: 10px;
    background-color: rgb(245, 245, 245);
    border-left: 10px solid rgb(50, 200, 50);
    display: flex;
    justify-content: space-between;
}

.history li.expense {
    border-left: 10px solid rgb(240, 50, 50);
}

.history li.income {
    border-left: 10px solid rgb(50, 200, 50);
}

.history li.transfer {
    border-left: 10px solid rgb(50, 100, 240);
}

.total {
    text-align: right;
    border: solid 1px;
    width: 80%;
    font-size: large;
    background-color: rgb(255, 255, 255);
    border-color: rgb(200, 200, 200);
}

.total, .total-income, .total-expense, .net-balance {
}